<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; {{ 'now' | date: "%Y" }} 5Cerealiz. Tutti i diritti riservati.</p>
            <div class="footer-links social-links">
                <a href="https://www.facebook.com/5CereaLiz" rel="noopener" target="_blank" title="5 Cerealiz Facebook">
                    <i class="bi-facebook"></i>
                </a>
                <a href="https://www.youtube.com/@5Cerealiz" rel="noopener" target="_blank" title="5 Cerealiz YouTube">
                    <i class="bi-youtube"></i>
                </a>
                <a href="https://www.instagram.com/5cerealiz" rel="noopener" target="_blank" title="5 Cerealiz Instagram">
                    <i class="bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
