<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="site-logo">
                <a href="{{ '/' | relative_url }}">
                    <h1>5Cerealiz</h1>
                    <p class="tagline">La Cartoon Band</p>
                </a>
            </div>
            <nav class="site-nav">
                <a href="{{ '/' | relative_url }}">Home</a>
                <a href="https://www.thelizards.it/5cerealiz/" target="_blank">Sito Ufficiale</a>
                <a href="https://www.thelizards.it/5cerealiz/#contactForm" target="_blank">Contatti</a>
            </nav>
        </div>
    </div>
</header>
