<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/5cerealiz-blog.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
</head>
<body>
    {% include header.html %}
    
    <main class="container">
        {{ content }}
    </main>
    
    {% include footer.html %}
</body>
</html>
